<% include ./partials/header %>
<div class="container">
    <a href="/form3" class="btn btn-outline-dark" id="top-btn">Add Fresh Bill for SS</a>
    <div class="row">
    <div class="col-sm-12">
            <div class="row history-head" style= "border-bottom: 2px solid black;">
                <div class="col-sm-2 addborder">Invoice Number</div>
                <div class="col-sm-2 addborder">
                       Invoice Date                 
                </div>
                <div class="col-sm-3 addborder">Party Name</div>
                
            </div>
    </div>
       
    <div class="col-sm-12">
        <% bills.forEach(function(bill){ %>
            <div class="row history">
                <div class="col-sm-2"><%= bill.invoicenumber %></div>
                <div class="col-sm-2">
                       <%= bill.invoicedate %>                 
                </div>
                <div class="col-sm-3"><%= bill.name[0] %></div>
                <div class="col-sm-2"><a class="btn btn-success" href="/form3/<%= bill._id %>">use</a></div>
                <div class="col-sm-2"><a class="btn btn-success" href="/previewSS/<%= bill._id %>">preview</a></div>
                <div class="col-sm-1"><a class="btn btn-danger" href="/delete/ss/<%= bill._id %>" onclick="return confirm('Are you sure you want to delete this item?');"><i class="fas fa-trash-alt"></i></a></div>
            </div>
            
            
        <% }); %> 
        
    </div>
    <div style="height: 100px; width: 100%; text-align: center;">.....................................................</div>
    <div class="footer">
        created by SEN
    </div>    
    
</div>








<% include ./partials/footer %>