<% include ./partials/header2 %>

<% const first= ['one','two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
  'ten',
  'eleven',
  'twelve',
  'thirteen',
  'fourteen',
  'fifteen',
  'sixteen',
  'seventeen',
  'eighteen',
  'nineteen'
]; %>
<% var second = ['twenty','thirty','forty','fifty','sixty','seventy','eighty','ninety'] %>

<% const weight = [
    'hundred',
    'thousand',
    'lakh',
] %>



<% var gst =  data.gstin %>



<div class="container" id="asccontainer">
    <div class="headingsection">
        <div id="gstinv"><p>GST INVOICE</p></div>

        <div><h2 id="heading">ALLIED SCIENTIFIC CO</h2></div>
        <div><h4 id="subheading">243/2A, ACHARYA PRAFULLA CH. ROAD, KOLKATA - 700006</h4></div>
        <div><h4 id="subheading2">Contact No : 9231330355 / 8961846667      Email : soumitrasadhukhan62@gmail.com</h4></div>
        <div><h4 id="gstin">GST NO : 19CSHPS2036P1Z1</h4></div>
    </div>
 <!-- <! –– ===================================================================== ––>  -->

    <div id="spacing"></div>
 
 
 <!-- <! –– ===================================================================== ––>  -->

    <div class="row invoice-number-row ">
        <div id="details" class=col-sm-6>
            <div class="row">
                <div class="col-sm-5 pull-right "><span class="invoicenumber">Invoice No :</span></div>
                <div class="col-sm-7"><span class="invoicenumber"><%= data.invoicenumber %></span></div>
            </div>
        </div>
        <div id="details" class=col-sm-6>
            <div class="row">
                <div class="col-sm-4 pull-right paddingtop"><span class="invoicenumber">Date :</span></div>
                <div class="col-sm-8"><span class="invoicenumber"><%= data.invoicedate %></span></div>
            </div>
        </div>
    </div>

    <!-- <! –– ===================================================================== ––>  -->

    <div id="spacing"></div>

  
     <!-- <! –– ===================================================================== ––>  -->

      
    <div class="row">
        <div id="details" class="col-sm-7">
            <div class="row">
                <div class="col-sm-3 paddingtop paddingright0"><span class="title">Name :</span></div>
                <div class="col-sm-9 paddingright0 paddingleft0"><span class="value"><%= data.name.toString() %></span></div>
            </div>
        </div>
        <div id="details" class=col-sm-5>
            <div class="row">
                <div class="col-sm-5 pull-right paddingtop"  ><span class="title">Order No :</span></div>
                <div class="col-sm-7"><span class="value"><%= data.ordernumber %></span></div>
            </div>
        </div>
    </div>

     <!-- <! –– ===================================================================== ––>  -->

    <div class="row">
        <div id="details" class=col-sm-7>
            <div class="row">
                <div class="col-sm-3  paddingtop paddingright0 "><span class="title margin0">Address :</span></div>
                <div class="col-sm-9 paddingright0 paddingleft0"><span class="address "><%= data.address1.toString() %></span></div>
            </div>
        </div>
        <div id="details" class=col-sm-5>
            <div class="row">
                <div class="col-sm-5 paddingtop pull-right"><span class="title ">Order Date :</span></div>
                <div class="col-sm-7 paddingright0 paddingleft0"><span class="value"><%= data.orderdate %></span></div>
            </div>
        </div>
    </div>

    <!-- <! –– ===================================================================== ––>  -->

    <div class="row">
        <div id="details" class="col-sm-7 middle">
            <div class="row">
                <div class="col-sm-3  paddingtop paddingright0"></div>
                <div class="col-sm-9 paddingright0 paddingleft0"><span class="address "><%= data.address2.toString() %></span></div>
            </div>
        </div>
        <div id="details" class="col-sm-5 middle">
            <div class="row">
                <div class="col-sm-5 pull-right paddingtop paddingright0">
                    <span class="title  margin0">State :</span>
                </div>  
                <div class="col-sm-7">
                    <span class="title margin0 value" style="font-size: 20px;"><%= data.state %></span>
                </div>  
            </div>
            
        </div>
    </div>

     <!-- <! –– ===================================================================== ––>  -->

     <div class="row">
        <div id="details" class="col-sm-7 middle">
            <div class="row">
                <div class="col-sm-3  paddingtop paddingright0"></div>
                <div class="col-sm-9 paddingright0 paddingleft0"><span class="address "><%= data.address3.toString() %></span></div>
            </div>
        </div>
        <div id="details" class="col-sm-5 middle">
            <div class="row">
               
            </div>
            
        </div>
    </div>


     <!-- <! –– ===================================================================== ––>  -->

    <div class="row">
        <div id="details" class="col-sm-7 paddingleft0" >
            <div class="row">
                
                <div class="col-sm-3 paddingtop paddingright0">
                    <span class="title margin0">GSTIN :</span>
                </div>  
                <div class="col-sm-9 paddingright0">
                    <span class="title margin0 value"><%= data.gstin %></span>
                </div>  
           
            </div>
        </div>
            <div id="details" class="col-sm-5 paddingleft0" >
                <div class="row">
                   
                    
                </div>
            </div>
        </div>
 <!-- <! –– ===================================================================== ––>  -->

 <div id="spacing"></div>

 <!-- <! –– ===================================================================== ––>  -->

<div class="row">
    <div class="col-sm-1 productdetailsheadingdiv">
        <span class="productdetailsheading" style="font-size: 15px;"></span>
    </div>
    <div class="col-sm-4 productdetailsheadingdiv">
        <span class="productdetailsheading">Product Description</span>
    </div>
    <div class="col-sm-1 productdetailsheadingdiv">
        <span class="productdetailsheading">HSN</span>
    </div>
    <div class="col-sm-1 productdetailsheadingdiv">
        <span class="productdetailsheading">QTY</span>
    </div>
    <div class="col-sm-1 productdetailsheadingdiv">
        <span class="productdetailsheading">Rate</span>
    </div>
    <div class="col-sm-2 productdetailsDiscount" style="padding: 0;">
        <div class="row no gutters">
            <div class="col-sm-12"> <span class="productdetailsheading">Discount</span></div>     
        </div>
        <div class="row no-gutters">
            <div class="col-sm-5"> <span class="pull-right">%</span></div>
            <div class="col-sm-7"  id="discountHeading"> <span class="productdetailsheading">amount</span></div>
        </div>
        
    </div>
    <div class="col-sm-2 productdetailsheadingdiv">
        <span class="productdetailsheading">Amount</span>
    </div>
</div>
<div id="spacing"></div>
<% var amount = [],dicountedAmount = [], total = 0, totalDiscount = 0; %>


<% if(typeof(data.product) == "number"){ %>
<%      data.product = [ data.product ]; %>
<% } %>
<div class="row products ">
    <% for(var i=1; i<7; i++){ %>
        <% amount[i-1] = data.quantity[i-1]*data.rate[i-1]; %>
        <% dicountedAmount[i-1] = amount[i-1]*(data.discountrate[i-1])/100; %>
        <div class="col-sm-1 minheight <%if(i%2==0){%>alternateRow<% }%> ">
            <% if(data.quantity[i-1]){ %>
            <span class="value"><%= i %></span>
            <% } %>
        </div>
        <div class="col-sm-4 productdescription <%if(i%2==0){%>alternateRow<% }%>" >
            <div class="row">
                <div class="col-sm-12"> <span class="value"><%= data.product[i-1] %></span></div>
            </div>
            <div class="row">
                <div class="col-sm-12"> <span class="value"><%= data.productdescription[i-1] %></span></div>
            </div>
           
        </div>

        <div class="col-sm-1 minheight  <%if(i%2==0){%>alternateRow<% }%>" ><span class="value"><%= data.hsn[i-1] %></span></div>
        <div class="col-sm-1 minheight  <%if(i%2==0){%>alternateRow<% }%>"><span class="value"><%= data.quantity[i-1] %></span></div>
        <div class="col-sm-1 minheight  <%if(i%2==0){%>alternateRow<% }%>">
            <% if(data.rate[i-1]){ %>
                <span class="value"><%= roundN(data.rate[i-1],2); %></span>
            <% } %>
        </div>
        <div class="col-sm-2 minheight  <%if(i%2==0){%>alternateRow<% }%>">
            <div class="row">
                <div class="col-sm-5 pull-right" ><%= data.discountrate[i-1] %></div>
                <% if(dicountedAmount[i-1] > 0 ) { %>
                    <div class="col-sm-7 pull-right"><%= roundN(dicountedAmount[i-1],2)%></div>
                <% } %>
            </div>   
        </div>
        <div class="col-sm-2 pull-right Tableamount <%if(i%2==0){%>alternateRow<% }%>">
            <span>
            <% if(amount[i-1] > 0){ %>
                <span class="value "><%= roundN(amount[i-1],2); %></span>
                <% total = total + amount[i-1]; %>
                <% totalDiscount = totalDiscount + dicountedAmount[i-1] %>
            <% } %>
            </span>
        </div>
        
    <% } %>
</div>


 <!-- <! –– ===================================================================== ––>  -->
 <% var grandtotal = roundN(total+total*18/100,2); %>
    <% var grandtotalrounded = roundN(total+total*18/100,0); %>
    <% var roundoff = grandtotalrounded- grandtotal %>

 <div class="row">
    <div class="col-sm-7 bordered">
        <span class="title" style="text-decoration: underline;">Total invoice amount in words :</span>
    </div>
    
    <div class="col-sm-5 subtotal" id="details  paddingright0">
        <div class="row">
            <div class="col-sm-8"  id="details">
                <span class="title">Sub Total :</span>
            </div>
            <div class="col-sm-4 pull-right" id="details">
                <span class="value"><%= roundN(total,2) %></span>
            </div>
        </div>
    </div>
 </div>

 <!-- <! –– ===================================================================== ––>  -->
 <% var str = toWords(grandtotalrounded); %>
 <% if(str.length > 40){ 
        var str1 = str.split(" ");
        var str2 = "";
        var str3 = "";
        for(var i=0;i<4;i++){
            str2 = str2 +" "+ str1[i];
        }
        for(var i=4;i<str1.length;i++){
            str3 = str3 +" "+ str1[i];
        }
    } else {
        str2 = str;  
    } %> 

 <div class="row">
    <div class="col-sm-7 bordered">
        <span class="amountinwords value" style="text-transform: uppercase"><%= str2 %></span>
    </div>
    <div class="col-sm-5 lessdiscount" id="">
        <div class="row">
            <div class="col-sm-8"  id="details">
                <span class="title">Less Discount :</span>
            </div>
            <div class="col-sm-4 pull-right" id="details">
                <span class="value"><%= roundN(totalDiscount,2) %></span>
            </div>
        </div>
    </div>
 </div>

 
 <!-- <! –– ===================================================================== ––>  -->
 <% var total = total - totalDiscount %>
 <div class="row">
    <div class="col-sm-7" id="details">
        <span class="amountinwords value" style="text-transform: uppercase"><%= str3 %></span>
    </div>
    <div class="col-sm-5">
         <div class="row">
            <div class="col-sm-8"  id="details">
                <span class="title">Total Taxable Amount :</span>
            </div>
            <div class="col-sm-4 pull-right" id="details">
                <span class="value"><%= roundN(total,2) %></span>
            </div>
        </div>
    </div>
 </div>

 
 <!-- <! –– ===================================================================== ––>  -->
   
    <div class="row">
        <div class="col-sm-7"  id="details">
            
        </div>
        <div class="col-sm-5">
            <div class="row">
                <div class="col-sm-8" id="details">
                    <span class="title">Add: CGST@ 9% :</span>
                </div>
                <% if(data.gstrate == 9){ %>
                <div class="col-sm-4 pull-right"  id="details">
                    <span class="value"><%= roundN(total*0.09,2) %></span>
                </div>
                <% }else{ %>
                <div class="col-sm-4 pull-right"  id="details">
                    <span class="value"> ------- </span>
                </div>
                <% } %>
            </div>
        </div>
    </div>

  
 <!-- <! –– ===================================================================== ––>  -->
 
    <div class="row">
        <div class="col-sm-7 bordered">
            <span class="terms">All dispute is subjected to Kolkata jurisdiction</span>
        </div>
        <div class="col-sm-5">
            <div class="row">
                <div class="col-sm-8" id="details">
                    <span class="title">Add: SGST@ 9% :</span>
                </div>
                <% if(data.gstrate == 9){ %>
                <div class="col-sm-4 pull-right" id="details">
                    <span class="value"><%= roundN(total*0.09,2) %></span>
                </div>
                <% }else{ %>
                <div class="col-sm-4 pull-right"  id="details">
                    <span class="value"> ------- </span>
                </div>
                <% } %>
            </div>  
        </div>
    </div>

 <!-- <! –– ===================================================================== ––>  -->



 <div class="row">
    <div class="col-sm-7">
        <span class="atitle">For : ALLIED SCIENTIFIC Co.</span>
    </div>
    <div class="col-sm-5">
        <div class="row">
            <div class="col-sm-8"  id="details">
               <span class="title">Add: IGST@ 18% :</span>
           </div>
           <% if(data.gstrate == 18){ %>
           <div class="col-sm-4 pull-right"  id="details">
               <span class="value"><%= roundN(total*0.18,2) %></span>
           </div>
           <% }else{ %>
           <div class="col-sm-4 pull-right" id="details" >
               <span class="value"> ------- </span>
           </div>
           <% } %>
       </div>
     </div>
 </div>
        
<!-- <! –– ===================================================================== ––>  -->




<!-- <! –– ===================================================================== ––>  -->

<div class="row">
    <div class="col-sm-7 bordered">
    
          
    </div>
    <div class="col-sm-5 bordered">
        <div class="row">
            <div class="col-sm-8"  id="details">
                <span class="title">Total :</span>
            </div> 
            <div class="col-sm-4 pull-right"  id="details">
                <span class="value"><%= roundN(total*1.18,2) %></span>
            </div>
        </div>
    </div>
  
</div>  

<!-- <! –– ===================================================================== ––>  -->

<div class="row">
    <div class="col-sm-7 bordered">
        
    </div>
    <div class="col-sm-5 bordered">
        <div class="row">
            <div class="col-sm-8" id="details">
                <span class="title">Round Off :</span>
            </div>
          
            <div class="col-sm-4 pull-right"  id="details">
                <span class="value"><%= roundN(roundoff,2) %></span>
            </div>
        </div>
    </div>
  
</div>  

<!-- <! –– ===================================================================== ––>  -->

<div class="row last">
    <div class="col-sm-7 bordered" style="padding-top: 5px;">
        <span class="sign">Authorised Signatory</span>
        
    </div>
    <div class="col-sm-5 finaltotal bordered">
        <div class="row">
            <div class="col-sm-7" id="details">
                <span class="title"> Invoice Total :</span>
            </div>
          
            <div class="col-sm-5 pull-right"  id="details">
                <span class="finaltotalamount"><%= roundN(total*1.18 + roundoff,2) %></span>
            </div>
        </div>
         
    </div>
  
</div>  

<!-- <! –– ===================================================================== ––>  -->


<% function toWords(num){
    var digit = digitcount(num);
    var number = num;
    var lakh;
    var thousand;
    var hundred;
    var string = " only";
    lakh = parseInt(number/100000);
    number = parseInt(number%100000);
    thousand = parseInt(number/1000);
    number = parseInt(number%1000);
    hundred = parseInt(number/100);
    var rest = parseInt(number % 100);
    if(rest)
        string = toString(rest) + string;
    if(hundred)
        string = toString(hundred) + " hundred " + string;
    if(thousand)
        string = toString(thousand) + " thousand " + string;
    if(lakh)
        string = toString(lakh) + " lakh " + string;
    return "RUPEES:- "+string;
} %>
<% function toString(num){
    // console.log("tostring"+ num);
    var string = "";
    if(num > 19){
        var a = parseInt(num/10)-2;
        console.log(a);
        string = second[a];
        if(num%10 != 0)
            string = string + "-" + first[num%10-1];
    }
    else{
        string = first[num-1];
    }
    return string;
    
} %>
<% function digitcount(num){
    var digit = 0;
    while(num!=0){
        digit = digit+1;
        num = num/10;
    }
    return digit;
} %>
    
    
    



<% function roundN(num,n){
  return parseFloat(Math.round(num * Math.pow(10, n)) /Math.pow(10,n)).toFixed(n);
} %>

<% include ./partials/footer %>
